button:hover{
  border: 0px;
}


#nav {
  background-color: aqua;
  border-radius: 10px;
  height: max-content;
  display: block;
  text-align: right;
}

#settings-button {
  background-color: transparent;
  border-color: transparent;
  height: 90%;
  width: 50px;
  margin: 5px;
}

#logo {
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}


#logo .card-title{
  font-family: Arial, sans-serif;
  font-size: 80px;
  color: hsl(283, 4%, 32%);
  margin-top: 20px;
  margin-bottom: 0px;
}

.card{
  border: 1px solid hsl(0, 1%, 59%);
  border-radius: 10px; 
  box-shadow:5px 5px 5px hsl(0, 1%, 46%);
  text-align: center;
  padding: 10px;
  margin: 20px;
  width: 200px;
  height: 260px;
}

.card .card-img{
  max-width:70%;
  margin-bottom: 20px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  color: hsl(283, 4%, 32%);
  margin-bottom: 10px;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(210, 2%, 24%);
  margin:0px;
}

.Function-Buttons{
  width: 100%;
  margin: 0px;
  display: flex;
  margin:0px;
  justify-content: space-between;
  text-align: center;
}